{% extends 'base.html' %}
{% from 'includes/macros.html' import render_field %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="title">Change Password for <em>{{ user.username }}</em></h5>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('admin.change_user_password', user_id=user.user_id) }}" method="POST" autocomplete="off">
                        {{
                            render_field(form.password,
                                class_='form-control', for_='password', placeholder='New Password')
                        }}
                        {{
                            render_field(form.confirm_password,
                                class_='form-control', for_='confirm_password', placeholder='Confirm New Password')
                        }}
                        {{ form.csrf_token }}
                        {{ form.submit(class='btn btn-default') }}
                    </form>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% endblock %}
