{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
            <div class="intro-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="intro-message">
                                <h1>Access Forbidden</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}