{% extends "errors/base.html" %}

{% block title %}Internal Server Error{% endblock %}

{% block page_content %}
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h1>500</h1>
                </div>
                <h2>Internal Server Error!</h2>
                {% if config['ENV'] == 'development' %}
                <p>{{ e }}</p>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('admin.dashboard') }}">Back To Dashboard</a>
                {% else %}
                <a href="{{ url_for('main.index') }}">Back To Homepage</a>
                {% endif %}
            </div>
        </div>
{% endblock %}
