<div class="col-sm-3 col-sm-offset-1">
    <div class="sidebar-module">
        <h4>Most Recent Posts</h4>
        <ul class="list-unstyled recent-posts">
            <li>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
            </li>
        </ul>
    </div>
    <div class="sidebar-module">
        <h4>Archives</h4>
        <ul class="list-unstyled">
            <li><a href="#">September 2018</a></li>
            <li><a href="#">August 2018</a></li>
            <li><a href="#">July 2018</a></li>
            <li><a href="#">June 2018</a></li>
            <li><a href="#">May 2018</a></li>
        </ul>
    </div>
</div>
<!-- /.blog-sidebar -->