<div class="col-sm-3 col-sm-offset-1">
    <div class="sidebar-module">
        <h4>Most Recent Posts</h4>
        {% if recent_posts %}
            <ul class="list-unstyled recent-posts">
                {% for recent_post in recent_posts %}
                    <li><a href="{{ url_for('main.show_post', slug=recent_post.slug) }}">{{ recent_post.title }}</a></li> 
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="sidebar-module">
        <h4>Archives</h4>
        {% if archives %}
            <ul class="list-unstyled">
                {% for archive in archives %}
                <li><a href="{{ url_for('main.show_archive_posts', month=archive['month'], year=archive['year']) }}">{{ archive['month'] }} {{ archive['year'] }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
<!-- /.blog-sidebar -->