{% extends 'base.html' %}
{% from 'includes/macros.html' import main_pagination_widget as pagination_widget %}
{% block title %}{{ title }}{% endblock %}

{% block page_content %}
    <div class="row">
        <h1>{{ title }}</h1>
        <hr>
        <div class="col-sm-8 blog-main">
            {% if tag_posts %}
                {% for post in tag_posts %}
                    <div class="blog-post">
                        <h2 class="blog-post-title">
                            <a href="{{ url_for('main.show_post', slug=post.slug) }}">{{ post.title }}</a>
                        </h2>
                        <p class="blog-post-meta">Posted On <small>{{ post.created_at.strftime('%b %d, %Y') }}</small> by <a href="{{ url_for('main.show_user_posts', username=post.username) }}">{{ post.author }}</a></p>
                        {% if post.cover_image %}
                        <a href="{{ url_for('main.show_post', slug=post.slug) }}">
                            <img class="post-image img-responsive" src="{{ url_for('static', filename='uploads/' + post.cover_image) }}" alt="{{ post.title }}">
                        </a>
                        {% endif %}
                        <p>
                            <a class="continue-reading" href="{{ url_for('main.show_post', slug=post.slug) }}">&gt; Continue reading</a>
                        </p>
                    </div>
                    <!-- /.blog-post -->
                {% endfor %}
                <div class="clearfix tt">
                    {% if pagination.pages > 1 %}
                    {{ pagination_widget(pagination, 'main.show_tag_posts') }}
                    {% endif %}
                </div>
            {% else %}
                <h1>No posts available</h1>
            {% endif %}
        </div>
        <!-- /.blog-main -->
        {% include 'main/_sidebar.html' %}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% endblock %}
