{% extends 'base.html' %}
{% from 'includes/macros.html' import render_field %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Change Password</h1>
            <br>
            <form action="{{ url_for('admin.change_password') }}" method="POST" autocomplete="off">
                {{
                    render_field(form.current_password,
                        class_='form-control', for_='current_password', placeholder='Current Password')
                }}
                {{
                    render_field(form.password,
                        class_='form-control', for_='password', placeholder='New Password')
                }}
                {{
                    render_field(form.confirm_password,
                        class_='form-control', for_='confirm_password', placeholder='Confirm New Password')
                }}
                {{ form.csrf_token }}
                {{ form.submit(class='btn btn-default') }}
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% endblock %}
