{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="title">{{ title }}</h5>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            {% if posts_count == 0 %}
                                <p>No <a href="{{ url_for('admin.list_posts') }}" title="Posts">Posts</a></p>
                            {% elif posts_count == 1 %}
                                <p>1 <a href="{{ url_for('admin.list_posts') }}" title="Posts">Post</a></p>
                            {% else %}
                                <p>{{ posts_count }} <a href="{{ url_for('admin.list_posts') }}" title="Posts">Posts</a></p>
                            {% endif %}
                        </div>
                        {% if current_user.is_admin %}
                            <div class="col-sm-3">
                                {% if tags_count == 0 %}
                                    <p>No <a href="{{ url_for('admin.list_tags') }}" title="Tags">Tags</a></p>
                                {% elif tags_count == 1 %}
                                    <p>1 <a href="{{ url_for('admin.list_tags') }}" title="Tags">Tag</a></p>
                                {% else %}
                                    <p>{{ tags_count }} <a href="{{ url_for('admin.list_tags') }}" title="Tags">Tags</a></p>
                                {% endif %}
                            </div>
                            <div class="col-sm-3">
                                {% if users_count == 0 %}
                                    <p>No <a href="{{ url_for('admin.list_users') }}" title="Users">Users</a></p>
                                {% elif users_count == 1 %}
                                    <p>1 <a href="{{ url_for('admin.list_users') }}" title="Users">User</a></p>
                                {% else %}
                                    <p>{{ users_count }} <a href="{{ url_for('admin.list_users') }}" title="Users">Users</a></p>
                                {% endif %}
                            </div> 
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
{% endblock %}
