{% macro render_field(field) %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        {{ field.label }}
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            {# {% for e in field.errors %}
            <span class="help-block">{{ e }}</span>
            {% endfor %} #}
            <span class="help-block">{{ field.errors[0] }}</span>
        {% endif %}
    </div>
{%- endmacro %}

{% macro nav_link(endpoint, name, keyword=None) %}
    {% if request.endpoint.endswith(endpoint) or (keyword and keyword in request.endpoint) %}
        <li class="active"><a href="{{ url_for(endpoint) }}">{{ name }}</a></li>
    {% else %}
        <li><a href="{{ url_for(endpoint) }}">{{ name }}</a></li>
    {% endif %}
{% endmacro %}

{% macro pagination_widget(pagination, endpoint, fragment='') %}
    <ul class="pagination">
        <li {% if not pagination.has_prev %} class="disabled"{% endif %}>
            <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                &laquo;
            </a>
        </li>
        {% for p in pagination.iter_pages() %}
            {% if p %}
                {% if p == pagination.page %}
                <li class="active">
                    <a href="{{ url_for(endpoint, page=p, **kwargs) }}{{ fragment }}">{{ p }}</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for(endpoint, page=p, **kwargs) }}{{ fragment }}">{{ p }}</a>
                </li>
                {% endif %}
            {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li {% if not pagination.has_next %} class="disabled"{% endif %}>
            <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                &raquo;
            </a>
        </li>
    </ul>
{% endmacro %}

{% macro main_pagination_widget(pagination, endpoint, fragment='') %}
    {% if pagination.has_prev  %}
        <a class="btn btn-primary float-left" href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}">&larr; Newer Posts</a>
    {% endif %}
    &nbsp;
    {% if pagination.has_next  %}
        <a class="btn btn-primary float-right" href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}">Older Posts &rarr;</a>
    {% endif %}

{% endmacro %}
