<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Flask Blog">
    <meta name="author" content="Wafukho Kelly Joseph">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% if config['ENV'] == 'production' %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% else %}
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    {% endif %}

    <link href="{{ url_for('static', filename='assets/css/blog.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('.index') }}" class="navbar-brand">My Blog</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                {% from 'includes/macros.html' import nav_link with context %}

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    {% block page_content %}{% endblock %}

    {% block scripts %}
    {% if config['ENV'] == 'production' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% else %}
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    {% endif %}

    {% endblock %}
</body>
</html>